# OS
Icon
.DS_Store

# Deps
/node_modules/
/vendor/

# Data & assets
/public/media/
/public/assets/
/data/

# License
/source/config/.license

# Plugins
/source/plugins/k3-image-clip/
/source/plugins/kirby-builder/
/source/plugins/kirby-colors/
/source/plugins/kirby-twig/
/source/plugins/kirby3-janitor/