@use '~/config/breakpoints' as *;
@use '~/config/globals' as *;
@use '~/utilities/resize' as *;

.Skip {
    $this: &;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 550px;
    padding: 6px;
    font-weight: 700;
    letter-spacing: -0.03em;
    @include resize(font-size, 16px, 18px);

    @include media(nav-spacing) {
        padding: 18px;
        letter-spacing: -0.02em;
    }

    &:focus,
    &:hover,
    &.active {
        outline: none;

        #{$this} {

            &-wrapper {
                background-image: linear-gradient(g(fg-col), g(fg-col));
            }
        }
    }

    &-wrapper {
        cursor: inherit;
        background-position: 0% 96%;
        background-size: 1px 2px;
        background-repeat: repeat-x;
        position: relative;
        text-shadow:
            0.04em 0 g(bg-col), -0.04em 0 g(bg-col), 0 0.04em g(bg-col),
            0 -0.04em g(bg-col), 0.07em 0 g(bg-col), -0.07em 0 g(bg-col),
            0.1em 0 g(bg-col), -0.1em 0 g(bg-col), 0.13em 0 g(bg-col),
            -0.13em 0 g(bg-col), 0.16em 0 g(bg-col), -0.16em 0 g(bg-col);

        &::selection,
        *::selection {
            text-shadow: none;
        }
    }
}